MESSAGE="Chinese CTB 1000 HK60 c 0.3"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/pollux-new/cis/nlp/data/corpora/ctb_ectb_5/ctb5/data/postagged/"
CREATE=false
CORPUS=ctb
NUM_SEEDS=3
THRESHOLD=0.3
K_SEQUENCE="100,500,900,1000"
SUBMIT=true
SIM_FILE="pickles/chinesectb_k1000HK60_wsjtags.pickle"
SCRIPT_FILE=cnctb1000HK600.3.sh
OTHER_ARGS="-t 60000 --guessremainder"
