MESSAGE="Chinese CTB 1000 HK c 0.2"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/pollux-new/cis/nlp/data/corpora/ctb_ectb_5/ctb5/data/postagged/"
CREATE=false
CORPUS=ctb
NUM_SEEDS=3
THRESHOLD=0.2
K_SEQUENCE="100,500,900,1000,2000,5000,9000,10000"
SUBMIT=true
SIM_FILE="pickles/chinesectb_k10000HK_wsjtags.pickle"
SCRIPT_FILE=cnctb10000HK0.2.sh
OTHER_ARGS="-t 193000 --guessremainder"
