MESSAGE="CREATE Indonesian UTB 1000"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/id"
CREATE=true
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=""
K_SEQUENCE=1000
SUBMIT=true
SIM_FILE="pickles/indonesianutb_k1000tcsuff_utbtags.pickle"
SCRIPT_FILE=Cidutb1000tcsuff.sh
OTHER_ARGS="--segtruesuff --segcharsuff"
