MESSAGE="French UTB 10000 _c10nox"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/fr"
CREATE=false
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=1.0
K_SEQUENCE="100,500,900,1000,2000,5000,9000,10000"
SUBMIT=true
SIM_FILE="pickles/frenchutb_k10000_utbtags.pickle"
SCRIPT_FILE=frutb10000_c10nox.sh
OTHER_ARGS="--nopunctseeds"
