MESSAGE="German UTB 10000 _c1.1nox tcsuff"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/de"
CREATE=false
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=1.1
K_SEQUENCE="100,500,900,1000,2000,5000,9000,10000"
SUBMIT=true
SIM_FILE="pickles/germanutb_k10000tcsuff_utbtags.pickle"
SCRIPT_FILE=deutb10000tcsuff_c1.1nox.sh
OTHER_ARGS="--nopunctseeds"
