MESSAGE="Japanese UTB 10000"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/ja"
CREATE=false
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=0.5
K_SEQUENCE="100,500,900,1000,2000,5000,9000,10000"
SUBMIT=true
SIM_FILE="pickles/japaneseutb_k10000_utbtags.pickle"
SCRIPT_FILE=jautb10000.sh
OTHER_ARGS=""
