MESSAGE="English WSJ 10000 c 0.4"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/jkodner/wsjHK"
CREATE=false
CORPUS=wsj
NUM_SEEDS=3
THRESHOLD=0.4
K_SEQUENCE="100,500,900,1000,2000,5000,9000,10000"
SUBMIT=true
SIM_FILE="pickles/englishwsj_k10000HK_wsjtags.pickle"
SCRIPT_FILE=enwsj10000HK0.4.sh
OTHER_ARGS="-t 193000 --guessremainder"
