MESSAGE="English CHILDES/Brown 8307"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lorelei/CHILDES/Brown"
CREATE=false
CORPUS=brown
NUM_SEEDS=3
THRESHOLD=0.5
K_SEQUENCE="100,500,900,1000"
SUBMIT=false
SIM_FILE="pickles/englishchildes_k8307_browntags.pickle"
SCRIPT_FILE=enbrown8307.sh
OTHER_ARGS="--distmap brown_to_reduced.txt"
