MESSAGE="CREATE English CHILDES/Brown 8307"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lorelei/CHILDES/Brown"
CREATE=true
CORPUS=brown
NUM_SEEDS=3
THRESHOLD=""
K_SEQUENCE=8307
SUBMIT=true
SIM_FILE="pickles/englishchildes_k8307_browntags.pickle"
SCRIPT_FILE=Cenbrown8307.sh
OTHER_ARGS=""
