MESSAGE="CREATE Swedish UTB 10000 csuff"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/sv"
CREATE=true
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=""
K_SEQUENCE=10000
SUBMIT=true
SIM_FILE="pickles/swedishutb_k10000csuff_utbtags.pickle"
SCRIPT_FILE=Csvutb10000csuff.sh
OTHER_ARGS="--segcharsuff"
