MESSAGE="English WSJ 1000"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/pollux-new/cis/nlp/data/corpora/wsj/"
CREATE=false
CORPUS=wsj
NUM_SEEDS=3
THRESHOLD=0.7
K_SEQUENCE="100"
SUBMIT=false
SIM_FILE="pickles/englishwsj_k1000_wsjtags.pickle"
SCRIPT_FILE=scratch.sh
OTHER_ARGS=""
