MESSAGE="English WSJ 10000 Old"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/pollux-new/cis/nlp/data/corpora/wsj/"
CREATE=false
CORPUS=wsj
NUM_SEEDS=3
THRESHOLD=0.7
K_SEQUENCE="100"
SUBMIT=false
SIM_FILE="englishwsj_k10000_wsjtags2.pickle"
SCRIPT_FILE=scratch.sh
OTHER_ARGS=""
