MESSAGE="CREATE German UTB 1000"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/de"
CREATE=true
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=""
K_SEQUENCE=1000
SUBMIT=true
SIM_FILE="pickles/germanutb_k1000suff_utbtags.pickle"
SCRIPT_FILE=Cdeutb1000suff.sh
OTHER_ARGS="--segsuff"
