MESSAGE="German UTB 1000 c07 suff"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgrdeio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/de"
CREATE=false
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=0.7
K_SEQUENCE="100,500,900,1000"
SUBMIT=false
SIM_FILE="pickles/germanutb_k1000suff_utbtags.pickle"
SCRIPT_FILE=scratch_deutb1000suff_c07.sh
OTHER_ARGS="--nopunctseeds --segsuff"
