MESSAGE="Korean UTB 1000 c10 suff"
INTERMED_DIR="/mnt/nlpgridio2/nlp/users/jkodner/lowrespos_data"
DATA_DIR="/mnt/nlpgridio2/nlp/users/lorelei/uni-dep-tb/universal_treebanks_v2.0/std/ko"
CREATE=false
CORPUS=conll
NUM_SEEDS=3
THRESHOLD=1.0
K_SEQUENCE="100,500,900,1000"
SUBMIT=false
SIM_FILE="pickles/koreanutb_k1000suff_utbtags.pickle"
SCRIPT_FILE=scratch_koutb1000suff_c10.sh
OTHER_ARGS="--nopunctseeds --segsuff"
